* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #F26B0F;
  --light-main-color: #f5be94a1;
  --white-color: #fff;
}

body {
  font-family: sans-serif;
  background-color: #e8e8e8;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form_container {
  padding: 2rem;
  background-color:  #d76417;
  color: rgba(243, 244, 246, 1);
  width: 320px;
  border-radius: 0.75rem;
}

.form_container .title {
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
}

.form {
  margin-top: 1.25rem;
}

.input_group {
  margin-top: 0.25rem;
  font-size: 0.875;
  line-height: 1.25;
}

.input_group label {
  display: block;
  color: rgba(156, 163, 175, 1);
  margin-bottom: 4px;
}

.input_group input {
  width: 100%;
  border-radius: 0.375rem;
  background-color: var(--white-color);
  border: 1px solid var(--light-main-color);
  outline: 0;
  padding: 0.75rem 1rem;
  color: var(--light-main-color);
}

.input_group input:focus {
  border-color: var(--main-color);
}

.forgot {
  display: flex;
  justify-content: flex-end;
  color: rgba(156, 163, 175,1);
  line-height: 1rem;
  margin: 8px 0 14px 0;
}

.forgot a , .signup a{
  color: rgba(243, 244, 246, 1);
  text-decoration: none;
  font-size: 14px;
  transition: .3s;
}

.forgot a:hover , .signup a:hover {
  text-decoration: underline var(--main-color);
}

.sign {
  width: 100%;
  background-color: #e37e3a;
  color: var(--white-color);
  border: none;
  border-radius: 0.375rem;
  padding: 0.75rem;
  font-weight: 600;
  cursor: pointer;
}

.sign:hover {
  background-color: var(--light-main-color);
}

.social_massage {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
}

.social_massage .line {
  width: 2rem;
  height: 1px;
  background-color: rgba(55, 65, 81, 1);
}

.social_massage .message {
  color: rgba(156, 163, 175,1);
  font-size: 14px;
}

.signup {
  color: rgba(156, 163, 175,1);
  font-size: 13px;
  text-align: center;
}

.social_icons {
  display: flex;
  justify-content: center;
}

.social_icons .icon {
  border-radius: 0.125rem;
  padding: 0.75rem;
  border: none;
  background-color: transparent;
  margin-left: 8px;
}

.social_icons .icon svg {
  height: 1.25rem;
  width: 1.25rem;
  fill: #fff;
}